@primary_color: #DB5024;
@primary_color_hover: #FA3215;
@secondary_color: #A72223;
@black_color: #111111;
@white_color: #ffffff;
@dark_color: #222;
@clean_color: #f8f8f8;
@lightgrey_color: #E9E2E2;

@line_es_color: #ffaa00;
@line_tp_color: #aaff00;
@line_is_color: #aa00bb;
@line_c_color: #bb44aa;

@tipi_color: #FBC239;
@lacentralcoop_color: #272727;
@somoscoop_color: #EB2D6F;
@enlaorbita_color: #FF434A;
@socialtocrowd_color: #F39200;
@transparenciapresupuestaria_color: #4A90E2;
@clic_color: #CC0110;
@conilhospeda_color: #00aeef;
@poletika_color: #ff6262;
@icas_color: #D5AC55;
@festivalcine_color: #000;
@aytoelpuerto_color: #377740;
@decideoviedo_color: #174D7F;
@decidearcos_color: #952C28;
@decidesantiago_color: #C93344;
@decidecadiz_color: #4EA79D;
@foroparticipacion_color: white;
@aulaparticipacion_color: #4EA79D;
@dipuparticipacioncadiz_color: #828282;
@aytoparticipacioncadiz_color: #db5024;
@formacionleyparticipacion_color: #db5024;
@sistemaparticipacion_color: #db5024;
@ciudadamable_color:  #B2B2B2;
@presupuestomarbella_color: #0080a0;
@presupuestomijas_color: #1d8a85;
@planintervencion_color: #618D97;
@presupuestotarifa_color: #16ab96;