@main_color: #D74D28;
@black_color: #111111;
@white_color: #ffffff;
@dark_color: #232323;
@clean_color: #f8f8f8;

@line_es_color: #ffaa00;
@line_tp_color: #aaff00;
@line_is_color: #aa00bb;
@line_c_color: #bb44aa;

@tipi_color: #FBC239;
@lacentralcoop_color: #048FFF;
@somoscoop_color: #EB2D6F;
@enlaorbita_color: #FF434A;
@socialtocrowd_color: #F39200;
@transparenciapresupuestaria_color: #551A8B;
@clic_color: #CC0110;