@font: 'Open Sans';

body,
html {
    width: 100%;
    height: 100%;
    font-family: @font, sans-serif;
}

::-moz-selection { color: @dark_color; background-color: @main_color; }
::selection { color: @dark_color; background-color: @main_color; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

/********** HEADER **********/

header {
  .navbar-custom {
    font-size: 16px;
    background-color: @dark_color;
    color: @clean_color;
    
    a {
      color: @clean_color;
      &:hover {
        color: @white_color;
        background-color: @black_color;
      }
    }

    button {
      span {
        background-color: @clean_color;
      }
    }
    
  }
}


/********** HOME **********/

#home {

  padding-top: 50px;
  background-color: @main_color;

  .claim {
    
    text-align: center;
    color: #f8f8f8;
    height: 100%;
    position: relative;
    padding-top: 20%;
    padding-bottom: 20%;

    h2 {
      font-size: 3em;
    }

  }
}

@media(max-width:767px) {
  #home {
    .claim {
      padding-bottom: 15%;
    }
  }
}



/********** LINES **********/

#lines, #works {

  padding-top: 50px;

  a {

    text-decoration: none;
    &:hover {  }

    .line.economia-social { background-color: lighten(@black_color, 5%); }
    .line.transparencia-participacion { background-color: lighten(@black_color, 10%); }
    .line.innovacion-social { background-color: lighten(@black_color, 15%); }
    .line.comunicacion { background-color: lighten(@black_color, 20%); }

    .work.tipi { background-color: @tipi_color; }
    .work.lacentralcoop { background-color: @lacentralcoop_color; }
    .work.somoscoop { background-color: @somoscoop_color; }
    .work.enlaorbita { background-color: @enlaorbita_color; }
    .work.socialtocrowd { background-color: @socialtocrowd_color; }
    .work.transparenciapresupuestaria { background-color: @transparenciapresupuestaria_color; }
    .work.clic { background-color: @clic_color; }

    .line, .work {
      
      text-align: center;
      color: #f8f8f8;
      height: 350px;

      .message {

        position: relative;
        padding-top: 10%;
        padding-bottom: 10%;

        h2 {
          margin: 0;
          text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
          font-size: 3em;
        }

      }

    }

  }

}

@media(max-width:767px) {
  #lines {
    a {
      .line {
        height: 250px;
        .message {
          padding-bottom: 15%;
          h2 {
            font-size: 2em;
          }
        }
      }
    }
  }
}



/********** LINE **********/

p.lead {
    font-size: 18px;
    font-weight: 400;
}

#line {

  .intro-header {
      
    padding-top: 50px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    text-align: center;
    color: @clean_color;
    background: url('http://www.fondos7.net/wallpaper-original/wallpapers/fondo-degrade-negro-5647.jpg') no-repeat center center;
    background-size: cover;

    .intro-message {

      position: relative;
      padding-top: 20%;
      padding-bottom: 20%;

      h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 4em;
      }

      .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,0.2);
      }

      h3 {
        font-weight: 400;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      }

    }

  }

  .main-message {
    padding: 50px 0;
    background-color: @black_color;
    color: @clean_color;
    font-size: 18px;
    font-weight: 400;
  }

  .content-section-a {
      padding: 50px 0;
      background-color: #f8f8f8;
  }

  .content-section-b {
      padding: 50px 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
  }

  .section-heading {
      margin-bottom: 30px;
  }

  .section-heading-spacer {
      float: left;
      width: 200px;
      border-top: 3px solid #e7e7e7;
  }

  .call {
      
      padding: 100px 0;
      color: @clean_color;
      background: url('http://www.fondos7.net/wallpaper-original/wallpapers/fondo-degrade-negro-5647.jpg') no-repeat center center;
      background-size: cover;

      h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
      }

      ul {
        margin-bottom: 0;
      }

      .call-social-buttons {
        float: right;
        margin-top: 0;
      }

      .network-name {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
      }
  }

}


@media(max-width:767px) {
  #line {

    .intro-header {

      .intro-message {
        padding-bottom: 15%;

        h1 {
         font-size: 3em;
        }

        .intro-divider {
          width: 100%;
        }

      }
    }

    .call {

      h2 {

        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
      
      }

      ul.call-social-buttons {
        li {
          display: block;
          margin-bottom: 20px;
          padding: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }

  }

}

@media(max-width:1199px) {
  #line {
    .call {
      ul.call-social-buttons {
        float: left;
        margin-top: 15px;
      }
    }
  }
}




/********** FOOTER **********/

footer {
    padding: 30px 0;
    background-color: @dark_color;
    color: @clean_color;

    .row {
      padding-bottom: 40px;

      .contact {
        font-size: 2em;
        font-weight: bold;
      }

      li {
        a {
          color: @clean_color;
          &:hover {
            color: @white_color;
            text-decoration: underline;
          }
        }
      }
    
    }


}

p.copyright {
    margin: 15px 0 0;
}