/********** GENERAL **********/

@font: 'Open Sans';

body,
html {
    width: 100%;
    height: 100%;
    font-family: @font, sans-serif;
}

::-moz-selection { color: @dark_color; background-color: @primary_color; }
::selection { color: @dark_color; background-color: @primary_color; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

.text-primary {
  color: @primary_color;
}

.text-right {
  text-align: right;
}

.label-custom-primary {
  background-color: @primary_color;
  color: @lightgrey_color;
}
.label-custom-secondary {
  background-color: @secondary_color;
  color: @lightgrey_color;
}

.wrapper {
  padding-top: 20px;
}

.wrapper-content {
  padding: 100px 0px 100px 0px;
}

section {
  padding: 40px 0;
}

img.center {
  display: block;
  margin: 0 auto;
}



/********** HEADER **********/

header {
  .navbar-custom {
    font-size: 16px;
    background-color: @dark_color;
    color: @clean_color;
    border-radius: 0px;
    /*.box-shadow(0px, 3px, 3px, 0.7);*/
    margin-bottom: -20px;
    
    a {
      font-weight: bolder;
      color: @clean_color;
      &:hover, &:active {
        color: @white_color;
        background-color: @dark_color;
      }
    }
    a.navbar-brand {
      padding: 0px;
    }

    button {
      span {
        background-color: @clean_color;
      }
    }
    
  }
}



/********** HOME **********/

#home-claim {

  background-image: url('/assets/images/banner_main_extra.png');
  background-color: @primary_color;
  background-size: cover;

  .claim {
    
    color: #f8f8f8;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    height: 100%;
    position: relative;
    padding-top: 60%;
    text-transform: uppercase;

    h2 {
      font-size: 3.5em;
      .title-letter-spacing;
    }

  }
}

#home-blog {

  background-color: @dark_color;
  padding-bottom: 75px;

  #home-blog-title {
    h2 {
      color: @lightgrey_color;
      font-size: 28px;
      margin-top: 15px;
      margin-bottom: 45px;
    }
  }

  #home-blog-items {
    
    .itemnews {
      background-color: darken(@dark_color, 3%);
      min-height: 250px;
      padding: 15px 30px 15px 15px;
      margin-bottom: 15px;
      a {
        text-transform: uppercase;
        color: @primary_color;
        font-weight: 700;
        font-size: 1.5em;
        &:hover {
          color: @clean_color;
        }
      }
      small {
        text-transform: uppercase;
        font-size: 0.8em;
        color: lighten(@dark_color, 20%);
      }
    }
    #loading-blog-items {
      p {
        font-style: italic;
        font-size: 2em;
        color: lighten(@dark_color, 20%);
      }
    }
  }

  #home-blog-subscribe {
    margin-top: 30px;
    h3 {
      color: @lightgrey_color;
      font-size: 22px;
      font-style: italic;
      font-weight: 700;
      margin-bottom: 15px;
    }
    input.email {
      background: transparent none repeat scroll 0% 0%;
      color: @lightgrey_color;
      border: 0px;
      border-bottom: 1px solid @lightgrey_color;
      border-radius: 0px;
      -moz-border-radius: 0px;
      -webkit-border-radius: 0px;
      font-weight: bold;
      &::-webkit-input-placeholder {
        color: lighten(@dark_color, 30%);
        font-style: italic;
        font-weight: normal;
      }
      &::-moz-placeholder {
        color: lighten(@dark_color, 30%);
        font-style: italic;
        font-weight: normal;
      }
      &:focus {
        box-shadow: 0 0 0;
        -webkit-box-shadow: 0 0 0;
        -moz-box-shadow: 0 0 0;
      }
    }
    input.button {
      color: @lightgrey_color;
      background-color: @dark_color;
      border-color: @lightgrey_color;
      font-weight: bold;
    }
  }

}

#home-quote {
  .gradient (left, @secondary_color, @primary_color);
  color: @lightgrey_color;
  .quotesymbol {
    color: darken(@secondary_color, 15%);
  }
  .quotetext {
    font-size: 2em;
  }
  .quoteauthor {
    font-size: 1.3em;
  }
}

#home-days {
  .gradient (left, @secondary_color, @primary_color);
  color: @lightgrey_color;
  .daysnumber {
    font-size: 7em;
    font-weight: bold;
    .title-letter-spacing;
    padding-right: 40px;
  }
  .daystext {
    font-size: 2em;
  }
}

@media(max-width:991px) {
  #home-claim {
    background-position: center;
    .claim {
      text-align: center;
      height: 100%;
      position: relative;
      padding-top: 40%;
      padding-bottom: 15%;
      h2 {
        font-size: 2.5em;
      }
    }
  }
}

@media(max-width:767px) {
  #home-days {
    .daysnumber {
      text-align: center;
      paddding-right: 0;
    }
    .daystext {
      text-align: center;
    }
  }
}



/********** COOPERATIVE **********/

#cooperative {
  
  section {
    
    h2.section-heading {
      font-size: 40px;
      margin-top: 0;
      margin-bottom: 15px;
      .title-letter-spacing;
    }
    
    h3.section-subheading {
      font-size: 16px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
    }
    
    .principle-heading {
      margin: 15px 0;
      text-transform: none;
      font-size: 1.4em;
    }

    .team-member {
      text-align: center;
      margin-bottom: 50px;
      img {
        margin: 0 auto;
        border: 7px solid white;
      }
      h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
      }
      p {
        margin-top: 0;
      }
      .social-buttons {
        li {
          a {
            color: @primary_color;
            &:hover {
              color: @primary_color;
            }
          }
        }
      }
    }
  }

  #intro {
    padding-top: 30px;
    .title {
      background: @dark_color;
    }
    .description {
      background: @primary_color;
      color: @clean_color;
      font-size: 1.5em;
      padding: 50px 15px 30px 15px;
      height: 240px;
    }
  }

  #team {
    .gradient(top, @lightgrey_color, @clean_color);
  }

  #partof {
    background-color: @primary_color;
    color: @dark_color;
    h5 {
      color: @white_color;
      font-size: 3em;
      text-transform: uppercase;
    }
    p {
      font-size: 1.3em;
      a {
        font-weight: bold;
        color: @dark_color;
      }
    }
  }

  #network {
    background: lighten(@dark_color, 5%);

    img {
      position: absolute;
      margin-top: -40px;
      width: 50%;
    }
    
    h2.section-heading {
      color: @clean_color;
    }
    
    h3.section-subheading {
      color: @lightgrey_color;
    }

    a {

      .node {
        background-color: lighten(@dark_color, 8%);
        text-align: center;
        padding: 5px;
        margin-bottom: 15px;
        color: @lightgrey_color;
        height: 300px;
      }
      
      &:hover {
        text-decoration: none;
        .node {
          background-color: lighten(@dark_color, 12%);
          h3 {
            color: @primary_color;
          }
        }
      }

    }

  }

}

@media(min-width:768px) {
  #cooperative {
    section {
      padding: 80px 0px;
    }
    #network {
      img {
        margin-top: -80px;
      }
    }
  }
}

@media(min-width:1000px) {
  #cooperative {
    #intro {
      .description {
        background: @primary_color url('/assets/images/cooperative/banner_corp.png') no-repeat top left; 
      }
    }
  }
}




/********** LINES **********/

#lines {

  background: @lightgrey_color;

  .section-heading {
    h2 {
      font-size: 40px;
      margin-top: 15px;;
      margin-bottom: 15px;
      .title-letter-spacing;
    }
    h3 {
      font-size: 16px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
    }
  }

  a.jump {

    text-decoration: none;

    .container {
      border: 10px solid @clean_color;
      margin-bottom: 30px;
    }

    .line {
      .image, .title {
        height: 300px;
      }
    }

    .line.economia-social {
      .image {
        background: url('/assets/images/lines/banner_economiasocial_intro.png') no-repeat top left;
      }
    }
    .line.transparencia-participacion {
      .image {
        background: url('/assets/images/lines/banner_transparenciaparticipacion_intro.png') no-repeat top left;
      }
    }
    .line.innovacion-social {
      .image {
        background: url('/assets/images/lines/banner_innovacionsocial_intro.png') no-repeat top center;
      }
    }
    .line.comunicacion {
      .image {
        background: url('/assets/images/lines/banner_comunicacion_intro.png') no-repeat top left;
      }
    }

    .line {

      background: @clean_color;
      
      text-align: center;
      color: @clean_color;

      .title {

        background-color: @primary_color;
        padding-top: 100px;

        h2 {
          margin: 0;
          font-size: 3em;
        }

      }

    }

  }

  a.jump:hover {
    .line {
      .message {
        background-color: @secondary_color;
      }
    }
  }

}

@media(max-width:767px) {
  #lines {
    a {
      .line {
        .image {
          height: 120px;
        }
        .title {
          padding-top: 50px;
          height: 120px;
          h2 {
            font-size: 1.8em;
          }
        }
      }
    }
  }
}



/********** LINE **********/

p.lead {
    font-size: 18px;
    font-weight: 400;
}

#line {

  .intro-header {
    padding-bottom: 50px;
    text-align: center;
    color: @clean_color;
    background: @dark_color;
    background-size: cover;

    .intro-message {

      position: relative;
      padding-top: 20%;
      padding-bottom: 20%;

      h1 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
        font-size: 4em;
        text-transform: uppercase;
      }

      .intro-divider {
        width: 400px;
        border-top: 1px solid #f8f8f8;
        border-bottom: 1px solid rgba(0,0,0,1);
      }

      h3 {
        font-weight: 400;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
      }

    }

  }

  .intro-header.economia-social {
    background: url('/assets/images/lines/banner_economiasocial_large.png') no-repeat center center;
  }
  .intro-header.transparencia-participacion {
    background: url('/assets/images/lines/banner_transparenciaparticipacion_large.png') no-repeat center center;
  }
  .intro-header.innovacion-social {
    background: url('/assets/images/lines/banner_innovacionsocial_large.png') no-repeat center center;
  }
  .intro-header.comunicacion {
    background: url('/assets/images/lines/banner_comunicacion_large.png') no-repeat center center;
  }

  .main-message {
    padding: 50px 0;
    background-color: @black_color;
    color: @clean_color;
    font-size: 18px;
    font-weight: 400;
  }

  .content-section-a {
      padding: 50px 0;
      background-color: #f8f8f8;
  }

  .content-section-b {
      padding: 50px 0;
      border-top: 1px solid #e7e7e7;
      border-bottom: 1px solid #e7e7e7;
  }

  .section-heading {
      margin-bottom: 30px;
      .title-letter-spacing;
  }

  .section-heading-spacer {
      float: left;
      width: 200px;
      border-top: 6px solid @primary_color;
  }

  .call {
      
      padding: 100px 0;
      color: @clean_color;
      background: @dark_color;
      background-size: cover;

      h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,1);
        font-size: 3em;
      }

      ul {
        margin-bottom: 0;
      }

      .call-social-buttons {
        float: right;
        margin-top: 0;

        .btn-custom {
          color: @clean_color;
          background-color: @dark_color;
          border-color: @black_color;
          &:hover, &:active, &:visited {
            color: @clean_color;
            background-color: @black_color;
          }
        }

      }

      .network-name {
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 2px;
      }
  }

  .call.economia-social {
    background: url('/assets/images/lines/banner_economiasocial_small.png') no-repeat center center;
  }
  .call.transparencia-participacion {
    background: url('/assets/images/lines/banner_transparenciaparticipacion_small.png') no-repeat center center;
  }
  .call.innovacion-social {
    background: url('/assets/images/lines/banner_innovacionsocial_small.png') no-repeat center center;
  }
  .call.comunicacion {
    background: url('/assets/images/lines/banner_comunicacion_small.png') no-repeat center center;
  }

}


@media(max-width:767px) {
  #line {

    .intro-header {

      .intro-message {
        padding-bottom: 15%;

        h1 {
         font-size: 3em;
        }

        .intro-divider {
          width: 100%;
        }

      }
    }

    .call {

      h2 {

        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
      
      }

      ul.call-social-buttons {
        li {
          display: block;
          margin-bottom: 20px;
          padding: 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

    }

  }

}

@media(max-width:1199px) {
  #line {
    .call {
      ul.call-social-buttons {
        float: left;
        margin-top: 15px;
      }
    }
  }
}



/********** WORKS **********/

#works {

  background: @lightgrey_color;

  .section-heading {
    h2 {
      font-size: 40px;
      margin-top: 15px;;
      margin-bottom: 15px;
      .title-letter-spacing;
    }
    h3 {
      font-size: 16px;
      text-transform: none;
      font-style: italic;
      font-weight: 400;
      margin-bottom: 75px;
    }
  }

  .work.tipi {
    background-color: @tipi_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@tipi_color, 5%);
      color: make-contrast(@tipi_color);
    }
  }
  .work.lacentralcoop {
    background-color: @lacentralcoop_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@lacentralcoop_color, 5%);
      color: make-contrast(@lacentralcoop_color);
    }
  }

  .work.somoscoop {
    background-color: @somoscoop_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@somoscoop_color, 5%);
      color: make-contrast(@somoscoop_color);
    }
  }

  .work.enlaorbita {
    background-color: @enlaorbita_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@enlaorbita_color, 5%);
      color: make-contrast(@enlaorbita_color);
    }
  }

  .work.socialtocrowd {
    background-color: @socialtocrowd_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@socialtocrowd_color, 5%);
      color: make-contrast(@socialtocrowd_color);
    }
  }

  .work.transparenciapresupuestaria {
    background-color: @transparenciapresupuestaria_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@transparenciapresupuestaria_color, 5%);
      color: make-contrast(@transparenciapresupuestaria_color);
    }
  }
  .work.clic {
    background-color: @clic_color;
    img {
      width: 200px;
    }
    .title {
      background-color: darken(@clic_color, 5%);
      color: make-contrast(@clic_color);
    }
  }
  .work.idea {
    background-color: @lightgrey_color;
    color: @dark_color;
    .text {
      padding: 20px 0px 20px 0px;
    }
  }

  a {
    
    text-decoration: none;

    .work {

      background: @clean_color;
      border: 10px solid @clean_color;
      margin-bottom: 30px;
      text-align: center;
      color: @clean_color;
      height: 150px;

      img {
        padding: 40px 10px 40px 10px;
      }

    }
  }

}




/********** WORK **********/

#work {

  section {
    padding: 80px 0px;
  }
  
  #info {
    p {
      font-size: 1.5em;
    }
  }
  #keys {
    .key {
      font-size: 1.5em;
      padding-top: 5px;
    }
  }
  #metrics {
    .metric {
      .text {
        font-size: 1.5em;
        font-weight: 400;
      }
      .value {
        font-size: 3em;
        font-weight: 700;
      }
    }
    .metricsinfo {
      padding-top: 30px;
      font-style: italic;
    }
  }
  #technologies {
    .title {
      font-size: 3em;
      font-weight: 700;
    }
    a {
      img {
        padding-bottom: 15px;
      }
      font-style: italic;
      color: @lightgrey_color;
      &:hover, &:visited {
        text-decoration: none;
        color: @lightgrey_color;
      }
    }
  }
  #client {
    .title {
      font-size: 3em;
      font-weight: 700;
    }
    a.name {
      font-size: 1.5em;
      font-weight: 700;
      color: @dark_color;
      &:hover, &:active {
        color: @dark_color;
      }
    }
    .description {
      font-size: 1.2em;
    }
    .year {
      font-size: 1.2em;
    }
  }
  #call {
    .row {
      padding-bottom: 40px;
      h4 {
        font-style: italic;
        font-size: 2.5em;
      }
    }
  }
}

#work.tipi {
  .make-contrast(@tipi_color);
  .work_styling(@tipi_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@tipi_color);
      .make-contrast-border-button(@tipi_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.lacentralcoop {
  .make-contrast(@lacentralcoop_color);
  .work_styling(@lacentralcoop_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@lacentralcoop_color);
      .make-contrast-border-button(@lacentralcoop_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.somoscoop {
  .make-contrast(@somoscoop_color);
  .work_styling(@somoscoop_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@somoscoop_color);
      .make-contrast-border-button(@somoscoop_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.enlaorbita {
  .make-contrast(@enlaorbita_color);
  .work_styling(@enlaorbita_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@enlaorbita_color);
      .make-contrast-border-button(@enlaorbita_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.socialtocrowd {
  .make-contrast(@socialtocrowd_color);
  .work_styling(@socialtocrowd_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@socialtocrowd_color);
      .make-contrast-border-button(@socialtocrowd_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.transparenciapresupuestaria {
  .make-contrast(@transparenciapresupuestaria_color);
  .work_styling(@transparenciapresupuestaria_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@transparenciapresupuestaria_color);
      .make-contrast-border-button(@transparenciapresupuestaria_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

#work.clic {
  .make-contrast(@clic_color);
  .work_styling(@clic_color);
  #intro {
    .logo {
      img {
        width: 450px;
      }
    }
  }
  #info {
    .btn {
      .make-contrast(@clic_color);
      .make-contrast-border-button(@clic_color);
      background-color: transparent;
      font-weight: bold;
    }
  }
}

@media(max-width:767px) {
  #work {
    section {
      padding: 40px 0px;
    }
    #keys {
      .key {
        padding-bottom: 30px;
      }
    }
    #metrics {
      .metric {
        padding-bottom: 30px;
      }
    }
  }
}




/********** FOOTER **********/

footer {
    padding: 30px 0;
    background-color: @dark_color;
    color: @clean_color;
    /* .box-shadow(0px, -3px, 3px, 0.7); */

    .row {

      li {
        a {
          color: @clean_color;
          &:hover {
            color: @white_color;
            text-decoration: underline;
          }
        }
      }

      .contacts {
        .contact {
          font-size: 1.5em;
          font-weight: bold;
          color: @clean_color;

          a {
            &:hover {
              text-decoration: none;
            }
          }

          a.sn {
            color: @primary_color;
            &:hover {
              color: @secondary_color;
            }
          }

        }
      }

    
    }


}

p.copyright {
    margin: 15px 0 0;
}
