<!-- header -->
<header>
    <div id="st-container">
        <nav class="st-menu st-effect-1" id="menu-1">
            <h2>Enreda</h2>
            <ul>
                <li><a href="#">Cooperativa</a></li>
                <li><a href="#">Líneas</a></li>
                <li><a href="#">Trabajos</a></li>
                <li><a href="#">Blog</a></li>
            </ul>
        </nav>
        <div class="st-pusher">
            <div id="st-trigger-effects">
                <button data-effect="st-effect-1">MENU</button>
            </div>
        </div>
    </div>
</header>
<!-- end header -->