<% include common/start %>

<% include common/header %>

<div id="legal" class="wrapper-content">
    <div class="section-heading">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2><%= data.title %></h2>
                    <h3 class="text-muted"><%= data.subtitle %></h3>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="wrapper-content">
    <div class="container">
        <div class="row">
       
            <div class="col-sm-8 col-md-offset-2 col-xs-12">
           <p class="lead"> En base al nuevo Reglamento de la UE 2016/679 sobre protección de datos les detallamos nuestra Política de Privacidad y Protección de Datos Personales;

            <h4>FINALIDAD</h4>
             <p class="lead"> Los datos facilitados a Enreda S.C.A. serán tratados solamente para informarles de alguna actividad en el ámbito de nuestra actividad o para el correcto funcionamiento de una relación de cliente/proveedor.</p>
            
            <h4>COMO DISPONEMOS DE SUS DATOS</h4>
             <p class="lead">Enreda dispone solamente de los datos que nos han facilitado voluntariamente los usuarios. </p>
            <h4>QUIEN ES EL RESPONSABLE DE LOS DATOS</h4>
             <p class="lead">El responsable de los datos que nos facilites es ENREDA SCA con domicilio en Avda República Argentina 25, 9º. 41011 Sevilla</p>
            <h4>QUIEN TRATA SUS DATOS</h4>
             <p class="lead">ENREDA SCA tiene asignada a una persona delegada de los datos que vela por el cumplimiento exhaustivo de la actual normativa de Protección de Datos y del citado RGPD. Puede contactar con la persona delegada en administracion@enreda.coop</p>
            <h4>CUANTO TIEMPO SE GUARDAN LOS DATOS</h4>
             <p class="lead">Los datos se mantendrán siempre que exista una relación comercial y siempre en el marco de dicha relación.
            De no existir relación comercial se mantendrán dichos dato en los plazos que marca la ley que actualmente es de 5 años pudiendo ejercitar en cualquier momento del plazo legal la modificación o eliminación.</p>
            <h4>TRANSFERENCIAS DE DATOS FUERA DE LA UE</h4>
             <p class="lead">Enreda no prevé hacer transferencias internacionales de datos a terceros países fuera de la UE</p>
            <h4>DERECHOS ARCO</h4>
             <p class="lead">ENREDA garantiza los Derechos de acceso, rectificación, cancelación y oposición a los datos por parte de los usuarios. </p>

            </div>
        </div>
    </div>
</div>


<% include common/footer %>

<% include common/end %>
